<div class="card-product">
  <%= batch_product.product.emoji %>
  <div class="card-product-infos">
    <h2><p><%= batch_product.name %></p></h2>
    <p>Product description with <strong>relevant info</strong> only.</p>
    <%= render "deliveries/form", product: batch_product.product %>
  </div>
</div>
