<div data-controller="deliveries" data-target="deliveries.productRow">
  <div class="card-product justify-content-around mt-3">
    <h2><%= product.emoji %></h2>
    <div class="card-product-infos">
      <h2><p><%= product.name %></p></h2>
      <p><%= product.description %></p>
    </div>
    <%= render "deliveries/form", product: product %>
  </div>
</div>
