<div class="navbar navbar-expand-sm navbar-light navbar-lewagon justify-content-center">
  <%= link_to root_path, class: "navbar-brand" do %>
    BEER - 🍺 - AI
  <% end %>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

</div>
