<form class="simple_form new_delivery" id="new_delivery" novalidate="novalidate" action="/bp/<%= product.id %>/deliveries" accept-charset="UTF-8" data-remote="true" method="post"><input name="utf8" type="hidden" value="✓">
  <div class="form-group hidden delivery_qty"><input class="form-control hidden" type="hidden" name="delivery[qty]" id="delivery_qty"></div>
  <div class="form-group hidden delivery_date"><input class="form-control hidden" type="hidden" name="delivery[date]" id="delivery_date"></div>
  <input type="submit" name="commit" value="+" data-disable-with="+">
</form>
