<div class="container-fluid main-bg pt-4">
  <div class="container" data-controller="new-row">
    <h3 class="mb-4"><%= @batch.city %>#<%= @batch.number %></h3>
    <div class="rows-wrapper" data-target="new-row.rowsWrapper">
      <%= render partial: "batch_products/product_row", collection: @products, as: :product %>
    </div>

    <div>
      <p>
        <%= link_to "Add Row",
                    new_batch_batch_product_path(params[:id]),
                    remote: true,
                    data: {
                      type: 'html',
                      action: 'ajax:success->new-row#onPostSuccess'
                    },
                    class: 'btn btn-secondary'
        %>
      </p>
    </div>
  </div>
</div>
