.card-product {
  overflow: hidden;
  height: 120px;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
}

.card-product .emoji {
  flex: 0 0 20%;
  text-align: center;
}

.card-product h2 {
  font-size: 2.5em;
  font-weight: bold;
  margin: 0;
}

.card-product p {
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
}

.card-product-infos {
  padding: 16px;
  flex: 0 0 30%;
}

.delivery-form {
  flex: 0 0 50%;
}
.flex-end {
  align-self: flex-end;
}

.forecast {
  margin-top: 5px;
  border-radius: 20px;
  background-color: #1bbb72cc;
  text-align: center;
  p {
    padding: 7px;
  }
}
